## .NET build artifacts
bin/
obj/
out/

## Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.user
*.suo

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

## User-specific files
*.rsuser
*.userosscache
*.sln.docstates

## Logs
*.log

## OS files
.DS_Store
Thumbs.db
